.Modal {
  position: absolute;
  width: 60vw;
  height: 30vh;
  margin-left: 20vw;
  margin-top: 30vh;
  background-color: rgb(255, 255, 255);
  border: thin solid gray;
  font-size: calc(10px + 1vmin);
}

.CheckboxContainer {
  display: 'flex';
  flex-flow: 'row';
}

.Backdrop {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(100, 100, 100, 0.8);
}

.CloseButton {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: calc(10px + 1vmin);
  background-color: #eee;
  cursor: pointer;
}