body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  cursor: pointer;
}

label {
  cursor: pointer;
}

button {
  background-color: #eee;
  font-size: calc(10px + 1vmin);
  cursor: pointer;
  width: 200px;
}